 * {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
 }

 .nav-title {
     font-weight: 800;
     font-size: 45px;
 }

 .text-primary {
     color: #fd6e0a;
 }

 nav {
     display: flex;
     justify-content: space-between;
     padding: 50px 200px;
 }

 nav li {
     list-style: none;
     margin-left: 50px;


 }

 nav ul {
     display: flex;
     align-items: center;

 }

 .button-primary {

     color: #fff;
     font-size: 20px;
     font-weight: 700;
     border: 0;
     padding: 18px 35px;

     height: 64px;
     border-radius: 5px;
     background-color: #fd6e0a;
 }

 .banner {
     display: flex;
     margin: 0px 200px;
     align-items: center;
 }

 .banner-title {
     font-weight: 700;
     font-size: 85px;
     color: #181818;
 }

 .banner-subtitle {
     font-weight: 600;
     font-size: 45px;
     color: #474747;
     margin: 20px;
 }

 .banner-description {
     color: #757575;
     font-weight: 400;
     font-size: 18px;
     line-height: 30px;
     margin-bottom: 30px;
 }

 .header {
     background: #FFF8F3;
     background-image: url(../images/header_bg.png), url(../images/developer.png);
     background-repeat: no-repeat;
     background-position: bottom right, left;
 }

 .crnt-contact {
    box-sizing: border-box;
     border: 1px solid #FD6E0A;
     border-radius: 5px;
     width: 180px;
     height: 65px;
     left: 484px;
     top: 608px;
     padding: 19px 23px 18px 24px;
     font-style: normal;
font-weight: 800;
font-size: 20px;

text-align: center;
color: #FD6E0A;

margin-left: 30px;


 }

 /* main section styles */
 main {
     max-width: 1140px;
     margin: 0 auto;

 }

 .about {
     margin-top: 77px;
     background: #FFF8F3;
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
 }

 .section-title {
     text-align: center;
     margin-bottom: 50px;
     font-weight: 700;
     font-size: 35px;
     margin-top: 130px;

 }

 .section-description {
     color: #757575;
     font-weight: 400;
     font-size: 18px;
     line-height: 30px;
     margin-bottom: 30px;
 }

 .about-info-container {
     display: flex;
     justify-content: space-around;
 }

 .info-title {
     font-weight: 400;
     font-size: 20px;
     color: #757575;
 }

 .info-escription {
     color: #474747;
     font-weight: 700;
     font-size: 20px;

 }

 /* what i do section */
 .what-i-do {
     text-align: center;
     margin-top: 130px;

 }

 .skills-container {
     display: flex;
     gap: 20px;
     margin-top: 50px;
 }

 .skill-title {
     font-weight: 700;
     font-size: 20px;
     margin-top: 30px;
     margin-bottom: 20px;
 }

 .skill-description {
     font-weight: 400;
     font-size: 16px;
     color: #757575;

 }

 .skill {
     background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
 }

 /* resume styles */

 .resume-content {
     display: flex;
     gap: 20px;


 }

 .resume-item {
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .resume .title {
     font-weight: 700;
     font-size: 25px;
     color: #474747;
     margin-bottom: 10px;
 }

 .resume .sub-title {
     font-weight: 600;
     font-size: 20px;
     color: #757575;
     margin-bottom: 20px;

 }

 .resume .description {
     color: #757575;

 }

 .resume-button {
     margin-top: 50px;
     text-align: center;
 }

 /* contact styles */
 .contact {
     display: flex;
     gap: 100px;
     background: #FFF8F3;
     padding-top: 130px;
     padding-bottom: 130px;
     padding-right: 200px;
     padding-left: 200px;
 }

 .contact .section-title {
     text-align: left;
 }

 .contact input[type="text"],
 input[type="email"],
 textarea {
     margin-bottom: 24px;
     border: 0;
     width: 100%;
     padding: 18px 30px;
 }

 .contact a {
     text-decoration: none;
 }

 input {
     height: 64px;
 }